@import 'styles/mixin';

.coffees {
	padding: 60px 0 20px 0;
	
	&__container {
		max-width: 800px;
		display: block;
		margin: 0 auto;
	}
	
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(3, minmax(auto, 1fr));
		column-gap: 70px;
		row-gap: 60px;
		justify-content: center;
		align-items: stretch;
		
		@media (max-width: 991px) {
			grid-template-columns: repeat(2, minmax(200px, 1fr));
			justify-content: center;
			align-items: center;
			padding: 0 10px;
		}
		
		@media (max-width: 575px) {
			grid-template-columns: auto;
		}
	}
	
	&-item {
		@include coffee-item;
		
		a {
			text-decoration: none;
		}
		
		&__title {
			@include coffee-title;
		}
		
		&__sort {
			@include coffee-sort;
		}
		
		&__price {
			@include coffee-price;
		}
	}
	
	.pages {
		margin: 20px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		
		span {
			font-size: 20px;
		}
		
		.page, .current-page {
			border: 1px solid lightgray;
			border-radius: 100%;
			padding: 5px 10px;
			margin: 0 10px;
			cursor: pointer;
		}
		
		.current-page {
			border: 2px solid gray;
			font-weight: var(--fw-bold);
		}
		
		span {
			font-size: var(--fs-sm);
			color: var(--color-text-black);
		}
	}
	
	.buttons__wrapper {
		margin-top: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		.btn__filter {
			width: 80px;
			display: flex;
			text-align: center;
			align-content: center;
			justify-content: center;
			align-items: center;
		}
	}

	.no-coffees {
		display: flex;
		justify-content: center;
		align-items: center;
		grid-column: 1 / 4;
		padding-bottom: 0;
	}
}

.animate {
	transition: opacity 0.3s ease-in-out;
}

.animate-enter {
	opacity: 0;
}

.animate-enter-active {
	opacity: 1;
	transition: opacity 200ms;
}

.animate-exit {
	opacity: 1;
}

.animate-exit-active {
	opacity: 0;
	transition: opacity 200ms;
}
