@import "../styles/mixin";

.register-form {
	@include form-container(20px, 500px);
	
	input,
	select {
		@include input-styles;
	}
	
	.file-input-wrapper {
		@include file-input-wrapper;
	}
	
	.custom-file-label {
		@include button-styles(var(--color-text), var(--color-text));
		
		&__filter {
			@include text-styles(var(--color-text-black), var(--fs-sm), var(--fw-normal), var(--lh-ss));
		}
		
		&:hover {
			@include text-styles(var(--color-text-black), var(--fs-sm), var(--fw-normal), var(--lh-ss));
			outline: none;
		}
	}
	
	.form_btn {
		margin-top: 25px;
		@include button-styles(var(--color-text), var(--color-text));
		
		&__filter {
			@include text-styles(var(--color-text-black), var(--fs-sm), var(--fw-normal), var(--lh-ss));
		}
		
		&:hover {
			@include text-styles(var(--color-text-black), var(--fs-sm), var(--fw-normal), var(--lh-ss));
			outline: none;
		}
	}
	
	.error {
		@include error-message;
	}
	
	.file-label {
		@include file-label;
	}
}