@import "../style/../../../styles/mixin";

.confirm-email {
	&__container {
		@include flex-center;
		width: 100%;
		height: 100vh;
		background: #f0f0f0;
	}
	
	&__content {
		@include content-box;
	}
	
	&__btn {
		margin-top: 20px;
		@include button;
	}
	
	&__header {
		@include header-text;
	}
	
	&__message {
		@include message-text;
	}
	
	&__counter {
		font-size: var(--fs-lg);
		font-weight: var(--fw-bold);
		color: #f57507;
	}
	
	&__info {
		margin-top: 20px;
		font-size: var(--fs-sm);
		
		a {
			color: #f57507;
			text-decoration: none;
			font-weight: var(--fw-bold);
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	&__link {
		color: #007bff;
		text-decoration: none;
		font-weight: bold;
		
		&:hover {
			text-decoration: underline;
		}
	}
}
