.loading-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: #f0f0f0;
}

.loading-content {
	background: rgba(0, 0, 0, 0.8);
	border-radius: 12px;
	padding: 30px 40px;
	text-align: center;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	max-width: 700px;
	width: 90%;
	color: #fff;
}

h1 {
	font-size: var(--fs-lg);
	font-weight: var(--fw-bold);
	color: var(--color-text);
	margin-bottom: 15px;
}

p {
	font-size: var(--fs-md);
	color: var(--color-text);
	margin: 0 0 10px 0;
}

span {
	font-size: var(--fs-lg);
	font-weight: var(--fw-bold);
	color: #f57507;
}

.info {
	margin-top: 20px;
	font-size: var(--fs-sm);
	color: #d1d1d1;
}

.info a {
	color: #f57507;
	text-decoration: none;
	font-weight: var(--fw-bold);
}

.info a:hover {
	text-decoration: underline;
}

.warning {
	margin-top: 20px;
	font-size: var(--fs-sm);
	color: #e53e3e;
	font-weight: var(--fw-bold);
}
