@import "../../../styles/mixin";

.admin {
	margin: 25px auto;
	max-width: 800px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
	.admin_btn {
		@include button-styles(var(--color-text), var(--color-text));
		
		&__filter {
			@include text-styles(var(--color-text-black), var(--fs-sm), var(--fw-normal), var(--lh-ss));
		}
	}
	
	@media (max-width: 991px) {
		.admin_btn {
			justify-content: center;
			margin: 25px auto 0 auto;
		}
	}
}