@import '../../styles/mixin';

.footer {
	margin-top: 30px;
	padding-bottom: 21px;
	
	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	&__list {
		display: flex;
		align-items: flex-end;
		padding: 0;
		margin: 0;
		list-style: none;
	}
	
	&__item {
		@include list-item-styles(var(--color-text-black));
		
		&:first-child::before {
			background-image: url('resources/img/icons/beans_dark.svg');
		}
	}
	
	@media (max-width: 767px) {
		&__item {
			@include media-item-adjustments;
		}
	}
}