@import '../../styles/mixin';

.header {
	padding: 30px 0 0 148px;
	
	&__wrapper {
		display: flex;
		justify-content: space-around;
	}
	
	&__list {
		display: flex;
		align-items: flex-end;
		list-style: none;
	}
	
	&__item {
		@include list-item-styles(var(--color-text));
		
		&:first-child::before {
			background-image: url('resources/img/icons/beans_light.svg');
		}
	}
	
	&__admin {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		li {
			color: white;
			padding-right: 20px;
		}
		
		
		.header__item {
			cursor: pointer;
			&::before {
				width: 0;
				background-image: none;
			}
		}
		
		.header__button {
			margin-right: 20px;
		}
	}
	
	@media (max-width: 767px) {
		padding: 10px 0;
		text-align: center;
		
		&__wrapper {
			flex-direction: column;
			align-items: center;
			padding: 10px;
			margin: 0 auto;
		}
		
		&__item {
			@include media-item-adjustments;
		}
	}
}