.about {
	padding: 80px 0 104px 0;
	
	&__wrapper {
		text-align: center;
	}
	
	&__description-wrapper {
		max-width: 600px;
		max-height: 220px;
		margin: 30px auto 0;
		padding: 0 15px;
	}
	
	&__description--first,
	&__description--second {
		color: var(--color-text-black);
		font-size: var(--fs-sm);
		font-weight: var(--fw-normal);
		line-height: var(--lh-sm);
	}
	
	&__description--second {
		padding-top: 15px;
	}
	
	@media (max-width: 575px) {
		&__description-wrapper {
			padding: 0 20px;
			max-height: unset;
		}
	}
	
	@media (max-width: 320px) {
		padding-top: 30px;
		&__wrapper {
			padding: 0 10px;
		}
	}
}
