@import "../../../styles/buttons";

.filter {
	&__label {
		@include text-styles(var(--color-text-black), var(--fs-sm), var(--fw-normal), var(--lh-sm));
		padding-right: 35px;
		
		@media (max-width: 575px) {
			margin: 20px 0 10px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding-right: 0;
		}
	}
}

.btn {
	@include button-styles(var(--color-text), var(--color-text));
	
	& + .btn {
		margin-left: 5px;
	}
	
	&__filter {
		@include text-styles(var(--color-text-black), var(--fs-sm), var(--fw-normal), var(--lh-ss));
	}
	
	&-light {
		background: rgba(128, 128, 128, 0.9);
		color: var(--color-text);
		box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
	}
	
	&-outline-light {
		background: var(--color-text);
		color: var(--color-text-black);
		border: 1px solid rgba(0, 0, 0, 0.2);
	}
	
	@include responsive-btn;
}

@media (max-width: 991px) {
	.filter {
		margin-top: 20px;
	}
}

@media (max-width: 575px) {
	.filter {
		display: block;
	}
}