/* Указываем box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
	padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
	list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
	max-width: 100%;
	display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
	margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
	font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

.divider-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.divider {
	width: 60px;
	border: 1px solid var(--color-text-black);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
	
	&--first {
		margin-right: 25px;
	}
	
	&--second {
		margin-left: 25px;
	}
}

.swal2-actions {
	display: flex;
	align-content: space-around;
	justify-content: space-around;
	align-items: flex-end;
	width: 100%;
	
	button {
		color: black;
	}
}

div:where(.swal2-container) button:where(.swal2-styled):not([disabled]) {
	background: rgba(211, 211, 211, .9);
}